VITE_SENTRY_DSN=
VITE_APP_VERSION=
VITE_STATUSPAGE_URL=https://your-company.statuspage.io
VITE_STATUSPAGE_API_URL=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
VITE_MAP_API_KEY=
VITE_GOOGLE_MAPS_KEY=
